<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Single RAN</string>
	<string>UMTS RAN</string>
	<string>LTE FDD RAN</string>
	<string>LTE TDD RAN</string>
	<string>GSM RAN</string>
	<string>Small Cell</string>
</array>
</plist>
