<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>en</key>
	<array/>
	<key>zh-Hans</key>
	<array>
		<string>asDsad</string>
		<string></string>
		<string>ads</string>
		<string>dsD</string>
		<string>D</string>
		<string>AS</string>
		<string>sasd</string>
		<string></string>
		<string>asDsad</string>
		<string>asDsad</string>
		<string>eRAN6.0 BTS3203E 产品文档</string>
		<string>a</string>
		<string>b</string>
		<string>c</string>
	</array>
</dict>
</plist>
